<div id="register" fxLayout="column">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">{{ 'RegisterPage.Title' | translate | uppercase }}</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RegisterPage.Name' | translate }}</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matSuffix class="secondary-text">check_circle</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        {{ 'RegisterPage.Validations.NameIsRequired' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RegisterPage.Address' | translate }}</mat-label>
                    <input matInput matGoogleMapsAutocomplete formControlName="address"
                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                        (onLocationSelected)="onLocationSelected($event)">
                    <mat-icon matSuffix class="secondary-text">place</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        {{ 'RegisterPage.Validations.AddressIsRequired' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RegisterPage.Email' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        {{ 'RegisterPage.Validations.EmailIsRequired' | translate }}
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        {{ 'RegisterPage.Validations.PleaseEnterAValidEmailAddress' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RegisterPage.Password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'RegisterPage.Validations.PasswordIsRequired' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'RegisterPage.PasswordConfirm' | translate }}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        {{ 'RegisterPage.Validations.PasswordConfirmationIsRequired' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{ 'RegisterPage.Validations.PasswordsMustMatch' | translate }}
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" formControlName="readAndAccept" aria-label="{{ 'RegisterPage.IReadAndAccept' | translate }}" required>
                        <span>{{ 'RegisterPage.IReadAndAccept' | translate }}</span>
                    </mat-checkbox>
                    <a href="#">{{ 'RegisterPage.TermsAndConditions' | translate | lowercase }}</a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" (click)="onRegisterButtonClickHandler()">
                        {{ 'RegisterPage.CreateAnAccount' | translate | uppercase }}
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{ 'RegisterPage.AlreadyHaveAnAccount' | translate }}?</span>
                <a class="link" [routerLink]="LoginPagePath">{{ 'RegisterPage.ToLoginPage' | translate }}</a>
            </div>

        </div>

    </div>

</div>
