<div id="user-list-page" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
  
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button class="mr-16" (click)="goBack($event)">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            <div class="h2">{{'UserList.Title' | translate }}</div>
            <div class="subtitle secondary-text">
              <span>ORGANIZATION_NAME</span>
            </div>
          </div>
        </div>
        <div class="search-wrapper mx-32 mx-md-0">
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input #filter placeholder="{{'UserList.Search' | translate }}">
          </div>
        </div>
        <button mat-raised-button [routerLink]="'/#'" class="fuse-white mt-24 mt-md-0">
          <span>{{'UserList.AddItem' | translate }} +</span>
        </button>
      </div>
  
      <div class="content-card">
        <mat-table class="user-list-table" #table [dataSource]="dataList" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
  
          <ng-container matColumnDef="AppKey">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'UserList.Table.Header.AppKey' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <p class="text-truncate">{{element.AppKey}}</p>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
          <mat-row *matRowDef="let element; columns: displayedColumns;" class="users" matRipple [routerLink]=""></mat-row>
  
        </mat-table>
  
        <!-- <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator> -->
      </div>
  
    </div>
  </div>