<div id="error-404" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
        <div class="error-code">404</div>
        <div class="message">{{ 'Error404Page.Sorry' | translate }}.</div>
        <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="{{ 'Error404Page.SearchForSomething' | translate }}" fxFlex>
        </div>
        <a class="back-link" (click)="onClickHandler($event)">{{ 'Error404Page.GoBack' | translate }}</a>
    </div>
</div>