<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">{{ 'LoginPage.Title' | translate | uppercase }}</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'LoginPage.Email' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        {{ 'LoginPage.Validations.EmailIsRequired' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        {{ 'LoginPage.Validations.PleaseEnterAValidEmailAddress' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'LoginPage.Password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'LoginPage.Validations.PasswordIsRequired' | translate }}
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me" formControlName="rememberUser">
                        {{ 'LoginPage.RememberMe' | translate }}
                    </mat-checkbox>
                    <a class="forgot-password" [routerLink]="ForgotPasswordPagePath">
                        {{ 'LoginPage.ForgotPassword' | translate }}?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid" (click)="onLoginButtonClickHandler()">
                    {{ 'LoginPage.Login' | translate | uppercase }}
                </button>

            </form>

            <!-- <div class="separator">
                <span class="text">{{ 'LoginPage.Or' | translate }}</span>
            </div>

            <button mat-raised-button class="google">
                {{ 'LoginPage.LoginWithGoogle' | translate }}
            </button>

            <button mat-raised-button class="facebook">
                {{ 'LoginPage.LoginWithFacebook' | translate }}
            </button> -->

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{ 'LoginPage.DontHaveAnAccount' | translate }}?</span>
                <a class="link" [routerLink]="RegisterPagePath">{{ 'LoginPage.CreateAnAccount' | translate }}</a>
            </div>

        </div>

    </div>

</div>
