@import "../../../../@fuse/scss/fuse";

lock {

    #lock {
        width: 100%;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #lock-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #lock-form {
                display: flex;
                flex-direction: column;
                width: 420px;
                max-width: 420px;
                padding: 48px 32px 32px 32px;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .lock-form-header {
                    display: flex;
                    flex: 1 0 auto;

                    .avatar-container {
                        position: relative;
                        margin-right: 16px;

                        .avatar {
                            margin: 0;
                        }

                        @include media-breakpoint('xs') {
                            margin-right: 0;
                        }

                        mat-icon {
                            position: absolute;
                            bottom: -2px;
                            right: -6px;
                        }
                    }

                    .title {
                        font-size: 20px;
                        margin-bottom: 8px;

                        @include media-breakpoint('xs') {
                            margin-top: 16px;
                            text-align: center;
                        }
                    }

                    .subtitle {

                        @include media-breakpoint('xs') {
                            text-align: center;
                        }
                    }
                }

                form {
                    width: 100%;
                    margin: 32px 0 0 0;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .message {
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}