<div id="lock" fxLayout="column">

    <div id="lock-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="lock-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="lock-form-header" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">

                <div class="avatar-container">
                    <img class="avatar big" src="assets/images/avatars/katherine.jpg">
                    <mat-icon class="s-32">lock</mat-icon>
                </div>

                <div>
                    <div class="title">{{ 'LockPage.Title' | translate | uppercase }}</div>
                    <div class="subtitle">
                        {{ 'LockPage.EnterYourPasswordToContinue' | translate }}.
                    </div>
                </div>

            </div>

            <form name="lockForm" [formGroup]="lockForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'LockPage.Username' | translate }}</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="disabled-text">account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'LockPage.Password' | translate }}</mat-label>
                    <input matInput formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        {{ 'LockPage.Validations.PasswordIsRequired' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="UNLOCK" [disabled]="lockForm.invalid">
                        {{ 'LockPage.Unlock' | translate | uppercase }}
                </button>

            </form>

            <div class="message">
                <a class="link" [routerLink]="LoginPagePath">{{ 'LockPage.AreYouNot' | translate }} {{LockedUserName}}?</a>
            </div>

        </div>

    </div>

</div>
