<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
            <div class="image-upload">
                <label for="file-input">
                    <img class="profile-image avatar huge" [src]="_userProfileData.AvatarWebSrc" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                </label>
                <input id="file-input" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="uploadAvatar($event)"/>
            </div>
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{_userProfileData.FullName}}
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" aria-label="Follow">{{'Profile.Fallow' | translate }}</button>
            <button mat-raised-button color="primary" aria-label="Send Message">{{'Profile.SendMessage' | translate }}</button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

    </div>
    <!-- / CONTENT -->

</div>
