<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div class="title">{{ 'MailConfirmPage.Title' | translate }}</div>

            <div class="subtitle">
                <p>
                    {{ 'MailConfirmPage.EmailHasBeenSentTo' | translate }}:
                </p>
                <p>
                    <b>{{ RegisterEmail }}</b>
                </p>
                <p>
                    {{ 'MailConfirmPage.CheckYourInboxInstruction' | translate }}.
                </p>
            </div>

            <div class="message">
                <a class="link" [routerLink]="LoginPagePath">{{ 'MailConfirmPage.GoBackToLoginPage' | translate }}</a>
            </div>

        </div>

    </div>

</div>
