<div id="error-500" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
        <div class="error-code">500</div>
        <div class="message">{{ 'Error500Page.ErrorMessage1' | translate }}!</div>
        <div class="sub-message">
            {{ 'Error500Page.ErrorMessage2' | translate }}
            <div *ngIf="registerErrorButtonShow">
                {{ 'Error500Page.ErrorMessage3' | translate }}
            </div>
        </div>
        <a *ngIf="backButtonShow" class="back-link" (click)="onClickHandler($event)">{{ 'Error500Page.GoBack' | translate }}</a>
        <a *ngIf="registerErrorButtonShow" class="report-link" [routerLink]="ReportPagePath">{{ 'Error500Page.ReportThisProblem' | translate }}</a>
    </div>
</div>
